@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Ops+One&display=swap');

html, body {
  padding: 0;
  margin: 0;
}

.navbar-brand {
  font-family: 'Anton', sans-serif;
}

.otherpage {
  height: 100vh;
}

.text-shadow {
  text-shadow: 2px 1px 2px rgb(0, 0, 0);
}

.input-text {
  text-align: center;
  padding: 5px;
  border: 0px;
  border-bottom: 3px solid black;
}

.picture {
  width: 200px;
  height: 200px;
  max-height: 200px;
  min-height: 200px;
}

.page-break {
  page-break-before: always;
}
.form-bg {
  background-color: #e9e9e9;
}
.line {
  border: solid 1px;
}

.landingpage {
  background-image: url("../images/landingbg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main h1 {
  color: white;
}

h1, h2 {
  font-family: 'Anton', sans-serif;
}

.card .card-body h1 {
  display: flex;
  justify-content: center;
}

.card .card-body p {
  display: flex;
  justify-content: center;
  color: white;
}

.error404 {
  font-size: 20vh;
  font-family: 'Black Ops One', cursive;
}

.loginimg {
  width: 100%;
  object-fit: cover;
  max-height: 400px;
  height: 400px;
}

.contactwidth {
  width: 80vh;
}

.swiper {
  width: 100%;
  height: 40vh;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-bullet {
  background-color: #7692cd;
  padding: 10px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}


.navbar {
  background-color: none;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.card {
	background: rgba(229, 229, 230, 0.42);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	transition: .5s;
}